*{
	margin: 0;
}

/* *********************Start header config CSS*********************************/

header aside,  header section,header nav a, header figure img  {
	display:inline-block;
}

header section {
	vertical-align: middle;
	vertical-align: top;
	margin: 1em 0  0 30%;
	text-align: center;
	font-family: 'Indie Flower', cursive;



}

header 
{
	/*background-color:#848484;*/
	border-radius:10px;
	height: 200px;
	
} 




 header figure {
	height: 200px;
	height: 300px;
}

header figure img 
{
	height: 200px;
	width: 200px;
	margin: 0;
	border-radius: 100px;

}




header h2 img 
{
	height: 40px;
	width: 300px;
	margin-top: 1em;
	margin-left: 10em;
}


header h2,
{
	margin-top: 1em;

}


/******************* End of config de header  ***************************** / 

/* *****************************   Start config css nav ****************************/

nav a {
	vertical-align: top;
	text-decoration: none;
	color: black;
	border-left:solid 3px #FF4000;
	border-right: solid 3px #FF4000;
	margin: 0 0  0 10% ;
	font-family: 'Rokkitt', serif;
	padding-left:3em;
	padding-right: 3em;
	border-radius:20px;
	}
	 nav {
		margin-left: 5em;
		border-top: solid 3px #FF4000;
		border-radius: 30px ;
		padding-left: 2em;
	}


	/************************************* Ende config css Nav **************************************




/********************************* Start Confi coeur de pages "index.html" *****************************************/

section figure img 
{
					width: 200px;
					height:200px;
					

}

section figure  , #nav2 ul 
{
	vertical-align: middle;
}







footer {
	background-color: #939394;
	
	margin-top: 40%;
}



footer figure img
{   margin-left: 15em; 
	border-radius: 30px;
	vertical-align: middle;
	height: 100px;
	width:80px;
	background-color: #939394;
	
}

footer figure img, footer ul, footer ul li, footer ul li a 
{
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	padding-left: 1em;
	
}












	/************************* End of config CSS FOOTER *************************** */
	/********************************** start css of Urgences.HTML ********************* */

.photo1 img
{
	width:80%;
	height: 750px;
	margin: 2em 0 5em 6em;
	margin-left: 3em
	vertical-align:middle;
}


.urg h2 {
	text-align: center;
	font-family: 'Rokkitt', serif;
	margin: 3em;
	color:red;
}
























/* End of config Urgences.html */

/******************************************** Start of tarif ***************************/


	
}

section table  
{
	margin:3em 0 0 4em;
	vertical-align:middle;
	
	margin-left: 10em;

}

table, table tr, table td  
{

	vertical-align: middle;
	border:solid 2px;
	
}


table 
{
	border:2px solid;
	border-radius: 10px;
	vertical-align: middle;
	height: 600px;
	width: :900px;
	margin:3em 0 0 10em;
}

th 
{
	border-collapse:collapse;
	color: red;
	text-align:center;
	font-family: 'Sansita', sans-serif;
	margin-left: 2em;
	size:3em;
}



section h2 
{
	text-align: center;
	margin-top: 2em;
	font-family: 'Ranga', cursive;
}




/********************************** Config CSS Devis **************************/


<fieldset> 
{
	height: 700px;
	width:500px;
}

label input, label  

{
	text-align: center;
	display: inline-block;
	margin-left: 6em;
}

 #Attention 
 {
 	border:solid 2px red ;
 	margin-top: 2em;
 	border:solid 2px red ;
 	border-radius: 30px;
 	text-align: center;
 	color: red;
 	margin-bottom: 2em;
 	margin-top: 2em;
 }















