*{
	margin: 0;
}

/* *********************Start header config CSS*********************************/

header aside,  header section,header nav a, header figure img  {
	display:inline-block;
}

header section {
	vertical-align: middle;
	vertical-align: top;
	margin: 3em 0  0 30%;
	text-align: center;
	font-family: 'Indie Flower', cursive;



}

header 
{
	
	height: 200px;
	
} 




 header figure {
	height: 200px;
	height: 300px;
}

header figure img 
{
	height: 200px;
	width: 200px;
	margin: 0;

}










/******************* End of config de header  ***************************** / 

/* *****************************   Start config css nav ****************************/

nav a {
	vertical-align: top;
	text-decoration: none;
	color: black;
	border-left:solid 3px;
	border-right: solid 3px;
	margin: 0 0  0 10% ;
	font-family: 'Rokkitt', serif;
	padding-left:1em;
	padding-right: 1em;
	}
	 nav {
		
		border-top: solid 3px;
	}


	/************************************* Ende config css Nav **************************************




/********************************* Start Confi coeur de pages "index.html" *****************************************/

section figure img 
{
					width: 250px;
					height:200px;
					vertical-align: middle;
}





/********************************** start css of Urgences.HTML ********************* */

.photo1 img
{
	width:80%;
	height: 750px;
	margin: 2em 0 5em 6em;
	margin-left: 3em
	vertical-align:middle;
}


.urg h2 {
	text-align: center;
	font-family: 'Rokkitt', serif;
	margin: 3em;
	color:red;
}
































	/******************************** Sart Confi CSS FOOTER ******************************************/

footer {
	border-top: solid 4px;
}



footer figure img 
{
	vertical-align: bottom;
	height: 150px;
	width:200px;
}

footer figure img, footer ul, footer ul li, footer ul li a 
{
	display: inline-block;
}

footer ul li a 
{
       vertical-align: top;
}















	/************************* End of config CSS FOOTER *************************** */

























